.activeHobby{
  border-style: solid;
  border-color: #9933CC;
  border-width: 5px;

}


// .fullscreenDiv {
//   // width: 90vw;
//   // height: 100vh;
//   // padding-left:5vw;
//   // padding-right:5vw;

//   // overflow: hidden;

// }
