<!-- <app-home></app-home>
<body class="black-skin" style="margin:5%">
  <div class="fullscreenDiv">
    <app-education></app-education>
  </div >
  <div class="fullscreenDiv">
    <app-work></app-work>
  </div>
  <div class="fullscreenDiv">
    <app-projects></app-projects>
  </div>
  <div class="fullscreenDiv">
    <app-about-me></app-about-me>
  </div>
  <div class="fullscreenDiv">
    <app-contact></app-contact>
  </div>
</body> -->

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section"><app-home></app-home></div>
  <div style="padding-left:2.5%; padding-right:2.5%" class="section"><app-education></app-education></div>
  <div style="padding-left:2.5%; padding-right:2.5%" class="section"><app-work></app-work></div>
  <div style="padding-left:2.5%; padding-right:2.5%" class="section"><app-projects></app-projects></div>
  <div style="padding-left:2.5%; padding-right:2.5%" class="section" ><app-about-me [isAlive]="aboutMeInView"></app-about-me></div>
  <div style="padding-left:2.5%; padding-right:2.5%" class="section"><app-contact></app-contact></div>
</div>




      <!-- <div class="section" (click)="fullpage_api.moveSectionDown()">Some section2</div>
    <div class="section">
      <div class="slide">Slide 2.1</div>
      <div class="slide">Slide 2.2</div>
      <div class="slide">Slide 2.3</div>
    </div>
    <div class="section" (click)="fullpage_api.moveTo('secondPage', 2)">Some section4</div> -->
